body {
    margin: 0;
    background-color: #1F2937;
}

#container {
    display: flex;
    flex-direction: column;
    
    max-width: 550px;
    margin: 0 auto;
    justify-content: center;
    height: 100vh;
    color: white;
}

.heading {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0;
}

span {
    display: block;
    color: #4adf86;
}

.supporting-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    font-size: 20px;
    color: #D5D4D8;
    margin-top: 8px;
}

#button-and-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#generate-passwords {
    width: fit-content;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    background: #10B981;
    border: none;
    border-radius: 6px;
    padding: .8em 1em;
    color: #FFF;
    margin-top: 2em;
    cursor: pointer;
}

input[type="number"] {
    width: 100%;
    height: 42px;
    align-self: flex-end;
    border: none;
    border-radius: 6px;
    margin-top: 1em;
}

.input-container {

}
hr {
    opacity: 10%;
    width: 100%;
    margin: 2em 0;
}

#password-field {
    display: flex;
    gap: 24px;
}

#password-field__one,
#password-field__two {
    background-color: #273549;
    flex-grow: 1;
    height: 39px;
    border-radius: 6px;
    color: #4adf86;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}